@charset "utf-8";

/* 封屏部分 */
.grapidui_bg_sina {background: #cccccc;}
/* 浮层部分 */
.grapidui_float_sina{border:1px solid #005DCF;padding:2px;font-size:12px;background-color:#FFFFDD;color:#333333;}
/* 弹出层部分*/
.grapidui_msg_sina *{ margin:0; padding:0; font-size:12px; line-height:12px;color:#676767;font-family:"SimSun"; }

.grapidui_msg_sina .grapidui_msg_tr1 td{height:5px;line-height:5px;font-size:0%;}
.grapidui_msg_sina .grapidui_msg_td1{background:url(gmsg_1.png) no-repeat;_background:none;width:5px;}
.grapidui_msg_sina .grapidui_msg_td2{background:url(gmsg_2.png) repeat-x;_background:none;}
.grapidui_msg_sina .grapidui_msg_td3{background:url(gmsg_3.png) no-repeat;_background:none;width:5px;}

.grapidui_msg_sina .grapidui_msg_td4{background:url(gmsg_2.png) repeat-y;_background:none;width:5px;}
.grapidui_msg_sina .grapidui_msg_td5{background:url(gmsg_5.gif) repeat-x;text-align:left;border:solid #A0A0A0 1px;border-bottom:0;}
.grapidui_msg_sina .grapidui_msg_td6{background:url(gmsg_2.png) repeat-y;_background:none;width:5px;}

.grapidui_msg_sina .grapidui_msg_td8{background-color:#FFFFFF;padding:5px;border:solid #A0A0A0 1px;border-top:0;border-bottom:0;}

.grapidui_msg_sina .grapidui_msg_td10{background:url(gmsg_2.png) repeat-y;_background:none;width:5px;}
.grapidui_msg_sina .grapidui_msg_td11{background:#FFFFFF;vertical-align:middle;text-align:center;height:40px;border:solid #A0A0A0 1px; border-top:1px dotted #ccc;}
.grapidui_msg_sina .grapidui_msg_td12{background:url(gmsg_2.png) repeat-y;_background:none;width:5px;}

.grapidui_msg_sina .grapidui_msg_tr5 td{height:5px;line-height:5px;font-size:0%;}
.grapidui_msg_sina .grapidui_msg_td13{background:url(gmsg_13.png) no-repeat;_background:none;width:5px;}
.grapidui_msg_sina .grapidui_msg_td14{background:url(gmsg_2.png) repeat-x;_background:none;}
.grapidui_msg_sina .grapidui_msg_td15{background:url(gmsg_15.png) no-repeat;_background:none;width:5px;}

.grapidui_msg_sina .grapidui_msg_ctrl_close{display:none;width:18px;height:18px;cursor:pointer;background:url(ctrl_close.gif) no-repeat 5px 9px;float:right;}
.grapidui_msg_sina .grapidui_msg_ctrl_help{display:none;width:18px;height:18px;cursor:help;background:url(ctrl_help.gif) no-repeat 5px 9px;float:right;}
.grapidui_msg_sina .grapidui_msg_ctrl_min{display:none;width:18px;height:18px;cursor:pointer;background:url(ctrl_min.gif) no-repeat 5px 9px;float:right;}

.grapidui_msg_sina .grapidui_msg_title{text-align:left;height:27px;line-height:26px;overflow:hidden;font-size:14px;font-weight:bold;padding:0 5px;color:#000000;}
.grapidui_msg_sina .grapidui_msg_logo{display:none;width:50px;height:27px;cursor:pointer;background:url(logo.gif) no-repeat 0 4px;float:left;}

.grapidui_msg_sina .grapidui_msg_type_warning{background:url(type_warning.png) no-repeat scroll 30px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_sina .grapidui_msg_type_error{background:url(type_error.png) no-repeat scroll 30px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_sina .grapidui_msg_type_success{background:url(type_success.png) no-repeat scroll 30px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_sina .grapidui_msg_type_help{background:url(type_help.png) no-repeat scroll 30px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_sina .grapidui_msg_type_important{background:url(type_impt.png) no-repeat scroll 30px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_sina .grapidui_msg_type_refresh{background:url(type_refresh.png) no-repeat scroll 30px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}

.grapidui_msg_sina .grapidui_msg_td11 .grapidui_msg_sp,.grapidui_msg_sina .grapidui_msg_td11 .grapidui_msg_sp .grapidui_msg_sc{background:url(button.gif) no-repeat;display:inline-block; cursor:pointer;height:23px;line-height:23px;color:#005372;}
.grapidui_msg_sina .grapidui_msg_td11 .grapidui_msg_sp{background-position:left -23px;color:#fff; margin-right:10px;}
.grapidui_msg_sina .grapidui_msg_td11 .grapidui_msg_sp .grapidui_msg_sc{background-position:right 0;padding:0 12px 0 12px; color:#000;margin:0;}
.grapidui_msg_sina .grapidui_msg_td11 .grapidui_msg_sp:hover{background-position:left -69px;}
.grapidui_msg_sina .grapidui_msg_td11 .grapidui_msg_sp:hover .grapidui_msg_sc{background-position:right -46px;color:#000;}
.grapidui_msg_sina .grapidui_msg_td11 .span_hover{background-position:left -69px;}
.grapidui_msg_sina .grapidui_msg_td11 .span_hover .grapidui_msg_sc{background-position:right -46px;color:#000;}

.grapidui_msg_sina .grapidui_msg_td11 .cancel .grapidui_msg_sc{color:#8F8F8F;}
.grapidui_msg_sina .grapidui_msg_td11 .cancel:hover{background-position:left -23px;}
.grapidui_msg_sina .grapidui_msg_td11 .cancel:hover .grapidui_msg_sc{background-position:right 0;color:#8F8F8F;}

.grapidui_msg_sina .grapidui_msg_tr4 .grapidui_msg_wait{text-align:center;}