@charset "utf-8";

/* 封屏部分 */
.grapidui_bg_green {
	background: url("gbgbg.png") repeat;
}
/* 弹出层部分*/
.grapidui_msg_green *{ margin:0; padding:0; font-size:12px; line-height:12px;color:#676767;font-family:"SimSun"; }

.grapidui_msg_green .grapidui_msg_tr1 td{height:9px;line-height:9px;font-size:0%;}
.grapidui_msg_green .grapidui_msg_td1{background:url(gmsg_1.png) no-repeat;_background:none;width:13px;}
.grapidui_msg_green .grapidui_msg_td2{background:url(gmsg_2.png) repeat-x;_background:none;}
.grapidui_msg_green .grapidui_msg_td3{background:url(gmsg_3.png) no-repeat;_background:none;width:13px;}

.grapidui_msg_green .grapidui_msg_td5{background:url(gmsg_5.png) repeat-x;text-align:left;*background:url(gmsg_5ie.jpg);background:url(gmsg_5ie.jpg)\9;}

.grapidui_msg_green .grapidui_msg_td7{background:url(gmsg_7.png) repeat-y;_background:none;width:13px;}
.grapidui_msg_green .grapidui_msg_td8{background-color:#FFFFFF;padding:5px;}
.grapidui_msg_green .grapidui_msg_td9{background:url(gmsg_9.png) repeat-y;_background:none;width:13px;}

.grapidui_msg_green .grapidui_msg_td10{background:url(gmsg_10.png) repeat-y;_background:none;width:13px;}
.grapidui_msg_green .grapidui_msg_td11{background:#f1f1f1; border-top:1px solid #ccc;vertical-align:middle;text-align:center;height:40px;}
.grapidui_msg_green .grapidui_msg_td12{background:url(gmsg_12.png) repeat-y;_background:none;width:13px;}

.grapidui_msg_green .grapidui_msg_tr5 td{height:13px;line-height:13px;font-size:0%;}
.grapidui_msg_green .grapidui_msg_td13{background:url(gmsg_13.png) no-repeat;_background:none;width:13px;}
.grapidui_msg_green .grapidui_msg_td14{background:url(gmsg_14.png) repeat-x;_background:none;}
.grapidui_msg_green .grapidui_msg_td15{background:url(gmsg_15.png) no-repeat;_background:none;width:13px;}

.grapidui_msg_green .grapidui_msg_ctrl_close{display:none;width:28px;height:17px;cursor:pointer;background:url(ctrl_close.gif) no-repeat;float:right;margin-top:-1px;}
.grapidui_msg_green .grapidui_msg_ctrl_close:hover{background:url(ctrl_close_hover.gif) no-repeat;}
.grapidui_msg_green .grapidui_msg_ctrl_close_hover{background:url(ctrl_close_hover.gif) no-repeat;}
.grapidui_msg_green .grapidui_msg_ctrl_help{display:none;width:28px;height:17px;cursor:help;background:url(ctrl_help.gif) no-repeat;float:right;margin-top:-1px;}
.grapidui_msg_green .grapidui_msg_ctrl_help:hover{background:url(ctrl_help_hover.gif) no-repeat;}
.grapidui_msg_green .grapidui_msg_ctrl_help_hover{background:url(ctrl_help_hover.gif) no-repeat;}
.grapidui_msg_green .grapidui_msg_ctrl_min{display:none;width:28px;height:17px;cursor:pointer;background:url(ctrl_min.gif) no-repeat;float:right;margin-top:-1px;}
.grapidui_msg_green .grapidui_msg_ctrl_min:hover{background:url(ctrl_min_hover.gif) no-repeat;}
.grapidui_msg_green .grapidui_msg_ctrl_min_hover{background:url(ctrl_min_hover.gif) no-repeat;}

.grapidui_msg_green .grapidui_msg_title{text-align:left;height:24px;line-height:22px;overflow:hidden;font-size:14px;font-weight:bold;padding:0 5px;}
.grapidui_msg_green .grapidui_msg_logo{display:none;width:50px;height:20px;cursor:pointer;background:url(logo.gif) no-repeat;float:left;}

.grapidui_msg_green .grapidui_msg_type_warning{background:url(type_warning.png) no-repeat scroll 10px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_green .grapidui_msg_type_error{background:url(type_error.png) no-repeat scroll 10px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_green .grapidui_msg_type_success{background:url(type_success.png) no-repeat scroll 10px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_green .grapidui_msg_type_help{background:url(type_help.png) no-repeat scroll 10px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_green .grapidui_msg_type_important{background:url(type_impt.png) no-repeat scroll 10px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}
.grapidui_msg_green .grapidui_msg_type_refresh{background:url(type_refresh.png) no-repeat scroll 10px center #FFFFFF;height:80px;padding-left:90px;vertical-align:middle;}

.grapidui_msg_green .grapidui_msg_td11 .grapidui_msg_sp,.grapidui_msg_green .grapidui_msg_td11 .grapidui_msg_sp .grapidui_msg_sc{background:url(button.gif) no-repeat;display:inline-block; cursor:pointer;height:21px;line-height:21px;color:#005372;}
.grapidui_msg_green .grapidui_msg_td11 .grapidui_msg_sp{background-position:left -21px;color:#017ead; margin-right:10px;}
.grapidui_msg_green .grapidui_msg_td11 .grapidui_msg_sp .grapidui_msg_sc{background-position:right 0;padding:0 8px; margin-right:-2px;_position:fixed;}
.grapidui_msg_green .grapidui_msg_td11 .grapidui_msg_sp:hover{background-position:left -63px;}
.grapidui_msg_green .grapidui_msg_td11 .grapidui_msg_sp:hover .grapidui_msg_sc{background-position:right -42px;color:#017ead;}
.grapidui_msg_green .grapidui_msg_td11 .span_hover{background-position:left -63px;}
.grapidui_msg_green .grapidui_msg_td11 .span_hover .grapidui_msg_sc{background-position:right -42px;color:#017ead;}

.grapidui_msg_green .grapidui_msg_tr4 .grapidui_msg_wait{text-align:center;}